@import "tailwindcss";

@theme{
  --color-rose-gold: #CFA59A;
  --color-white: #ffffff;
  --color-black: #010717;
  --color-gray-100: #F7DDE2;
  --color-gray-light: #A3B59A;
  --color-gray-dark: #5A2032;
  --color-gray-txt: #6E243B;
  --color-gray-line: #D8B1A8;
  --color-primary: #A63D5C;
  --color-secondary: #CFA59A;
  --color-clay: #B07D62;
  --color-burgundy: #7E2541;

  --font-display: "Manrope", sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --container-padding: 1rem;
}